

<button mat-icon-button  class="player-card-valign" aria-label="Add Dice List"  *ngIf="configurationMode"  (click)="addDiceBox()">
    <mat-icon>add_circle_outline</mat-icon>
</button>
<mat-card class="dice-List-card" *ngFor="let currentDiceBox of diceLists">
                
    <!-- CARD Header -->
    <mat-card-header>
        <mat-card-title class="player-card-content">
        <button mat-icon-button  color="warn" class="player-card-valign" aria-label="Delete DiceList"  *ngIf="configurationMode" (click)="removeDiceBox(currentDiceBox)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button  class="player-card-valign" aria-label="Add Dice" *ngIf="configurationMode" (click)="addDice(currentDiceBox)">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        </mat-card-title>
    </mat-card-header>

        <!-- CARD Body -->
    <mat-card-content class="player-card-content" layout="row" layout-align="space-between center" (click)="rollDiceList(currentDiceBox)">

        <mat-card class="dice" *ngFor="let currentDice of currentDiceBox.diceList">
                <!-- CARD Body -->
            <mat-card-content class="player-card-content" layout="row" layout-align="space-between center">
                <span  class="player-card-valign player-card-score"  >{{diceService.getDiceLabel(currentDice)}}</span>
                <button mat-icon-button  color="warn" class="player-card-valign" aria-label="Delete Dice"  *ngIf="configurationMode" (click)="removeDice(currentDiceBox, currentDice)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>


