.dice {
    display: inline-block;
  }

.dice-card {
	align-items: center;
}


.dice-card-valign {
	vertical-align: middle;
}

.dice-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.dice-card-label {
	font-size:20px;
    justify-content: center;
    text-align:center;
}


.dice-card-name {
	font-size:32px;
}