<div class="player-dialog">
  <h1 mat-dialog-title class="player-dialog-content">Ajouter joueur</h1>
  <div mat-dialog-content class="player-dialog-content">
    <mat-form-field  class="player-dialog-content">
      <mat-label>Nom joueur</mat-label>
      <input matInput [(ngModel)]="data">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="player-dialog-content">
    <button mat-button  [mat-dialog-close]>Annuler</button>
    <button mat-button  color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>

